<template>
  <span class="loader" />
</template>

<script>
// Export
export default {
  name: 'UiLoader',
};
</script>

<style lang="scss">
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: solid 2px;
  border-color: black black black transparent;
  border-radius: 100%;
  transition: 0.1s ease-in-out;
  animation: spin 0.1s * 6 infinite;
  transform-origin: 0 0;
}

@keyframes spin {
  from {
    transform: rotate(0) translate(-50%, -50%)
  }
  to {
    transform: rotate(360deg) translate(-50%, -50%)
  }
}
</style>
