<template>
  <article class="result">
    <h2>Select an Item</h2>

    <section v-if="result && result.id === 'people'">
      <h4>{{ result.name }}</h4>
      <p>Eye Color: {{ result.eyeColor }}</p>
      <p>Birth Year: {{ result.birthYear }}</p>
    </section>

    <section v-if="result && result.id === 'starships'">
      <h4>{{ result.name }}</h4>
      <p>Model: {{ result.model }}</p>
      <p>Manufacturer: {{ result.manufacturer }}</p>
      <p>Starship Class: {{ result.starshipClass }}</p>
    </section>
  </article>
</template>

<script>
// Export
export default {
  name: 'UiResult',

  // Props
  props: {
    result: {
      type: Object,
      default: Object,
    },
  },
};
</script>

<style lang="scss" scoped>
.result {
  border: 2px solid black;
  padding: 20px;
  height: 800px;

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
}
</style>
