<template>
  <article class="sidebar">
    <!-- Buttons -->
    <section>
      <button
        :class="[
          'sidebar__btn',
          {
            'sidebar__btn--active': starships,
          }
        ]"
        @click.prevent="getStarships"
      >
        Starships
      </button>
      <button
        :class="[
          'sidebar__btn',
          {
            'sidebar__btn--active': people,
          }
        ]"
        @click.prevent="getPeople"
      >
        People
      </button>
    </section>

    <!-- List -->
    <article
      class="sidebar__list"
    >
      <ui-loader
        v-if="loaded"
      />

      <h2
        v-if="!list && !loaded"
      >
        Select a Resource
      </h2>

      <div v-if="list && !loaded">
        <h4
          v-for="(item, index) in list"
          :key="index"
          :class="[
            'sidebar__item',
            {
              'sidebar__item--active': itemActive && isActive === index,
            }
          ]"
          @click.prevent="sendObject(index)"
        >
          {{ item }}
        </h4>
      </div>
    </article>
  </article>
</template>

<script>
// Vuex
import { mapGetters, mapActions } from 'vuex';

// Ui
import UiLoader from './Loader.vue';

// Export
export default {
  name: 'UiSideBar',

  // Components
  components: {
    UiLoader,
  },

  // Data
  data() {
    return {
      people: null,
      starships: null,
      list: null,
      loaded: false,
      isActive: null,
      item: null,
      itemActive: false,
    };
  },

  // Computed
  computed: {
    ...mapGetters('people', [
      'peopleList'
    ]),
    ...mapGetters('starships', [
      'starshipsList'
    ]),
  },

  // Methods
  methods: {
    ...mapActions('people', [
      'requestPeople',
    ]),
    ...mapActions('starships', [
      'requestStarships',
    ]),
    //
    getPeople() {
      this.loaded = true;
      this.starships = null;
      this.itemActive = false;
      this.$emit('send-model', null)
      this.requestPeople()
        .then(res => {
          this.people = res;
          this.list = this.people.map(item => item.name);
          this.loaded = false;
        })
        .catch(err => {
          console.log(err)
        })
    },

    getStarships() {
      this.loaded = true;
      this.people = null;
      this.itemActive = false;
      this.$emit('send-model', null)
      this.requestStarships()
        .then(res => {
          this.starships = res;
          this.list = this.starships.map(item => item.name);
          this.loaded = false;
        })
        .catch(err => {
          console.log(err)
        })
    },

    sendObject(index) {
      this.itemActive = true;
      if(this.people) {
        this.isActive = index;
        this.item = this.people[index];
        const toSend = {
          id: 'people',
          name: this.item.name,
          eyeColor: this.item.eye_color,
          birthYear: this.item.birth_year,
        }
        this.$emit('send-model', toSend)
      }
      if(this.starships) {
        this.isActive = index;
        this.item = this.starships[index];
        const toSend = {
          id: 'starships',
          name: this.item.name,
          model: this.item.model,
          manufacturer: this.item.manufacturer,
          starshipClass: this.item.starship_class,
        }
        this.$emit('send-model', toSend)
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.sidebar {
  border: 2px solid black;
  padding: 20px;
  height: 800px;

  &__btn {
    outline: 0;
    padding: 10px 20px;
    width: 150px;
    font-size: 24px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--active {
      background-color: #cc5500;
      color: white;
    }
  }

  &__list {
    position: relative;

    .loader {
      top: 50px;
    }
  }

  &__item {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover,
    &--active {
      color: white;
      border-radius: 4px;
    }

    &:hover {
      background-color: rgb(136, 136, 165);
    }

    &--active {
      background-color: rgb(175, 41, 41);
    }
  }
}
</style>
