<template>
  <main id="app">
    <!-- Side Bar -->
    <ui-side-bar
      @send-model="($event) => data = $event"
    />

    <!-- Result -->
    <ui-result
      :result="data"
    />
  </main>
</template>

<script>
// Ui
import UiSideBar from '@/components/SideBar.vue';
import UiResult from '@/components/Result.vue';

// Export
export default {
  name: 'App',

  // Components
  components: {
    UiSideBar,
    UiResult,
  },

  // Data
  data() {
    return {
      data: null,
    };
  },
};
</script>

<style lang="scss">
* {
  font-family: 'VT323', monospace;
  letter-spacing: 1px;
}

#app {
  display: flex;
  align-items: flex-start;

  .sidebar,
  .result {
    width: 500px;
  }

  .result {
    margin-left: 20px;
  }
}
</style>>
